$gradient-opacity: 0.1;

.container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  border: none;
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: -4px -2px 16px rgba(195, 200, 205, 0.07), 4px 4px 8px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  width: 100%;

  &:hover {
    background-color: rgba(255, 255, 255, 0);

    .infotext {
      opacity: 1;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &.selected {
    background-color: rgba(var(--color-primaryRGB), 0.7);
    border-color: rgba(255, 255, 255, 1);
    color: var(--color-background);
  }
}

.children {
  display: flex;
  position: relative;
}

.infotext {
  background-color: var(--color-background);
  border-radius: 4px;
  color: var(--color-onBackground);
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.2));
  left: 50%;
  margin-top: 8px;
  min-width: 100px;
  opacity: 0;
  padding: 8px 12px 12px;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  transition: opacity 0.15s;
  white-space: pre;

  &:after {
    background-color: var(--color-background);
    bottom: 100%;
    content: ' ';
    height: 8px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%) rotate(45deg);
    width: 8px;
  }
}

.layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.layer1 {
  background: linear-gradient(to bottom right, rgb(255, 255, 255, $gradient-opacity) -6.95%, rgba(100, 100, 100, $gradient-opacity) 91.44%);
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.15s;
  z-index: 2;
}

.layer2 {
  background: rgba(100, 100, 100, $gradient-opacity);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 3;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: -4px -2px 16px rgba(195, 200, 205, 0.07), 4px 4px 18px rgba(0, 0, 0, 0.44);

    &:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    &.disabled {
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &.selected {
      background-color: rgba(var(--color-primaryRGB), 0.5);
      border-color: rgba(255,255,255,0.2);
      color: unset;
    }
  }

  .layer1 {
    background: linear-gradient(to bottom right, rgb(255, 255, 255, $gradient-opacity) -6.95%, rgba(0, 0, 0, $gradient-opacity) 91.44%);
  }

  .layer2 {
    background: rgba(0, 0, 0, $gradient-opacity);
  }
}
