.container {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  fill: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.dragActive,
  &:hover {
    fill: var(--color-primary);

    .text1 {
      color: var(--color-primaryFocused);

      &.error {
        color: var(--color-error);
      }
    }

    .text2 {
      color: var(--color-primary);
    }
  }
}

.text1 {
  color: var(--color-secondary);
  transition: color 0.15s;

  &.error {
    color: var(--color-error);
  }
}

.text2 {
  color: var(--color-secondaryDisabled);
  transition: color 0.15s;
}

.uploadIcon {
  height: 54px;
  margin-bottom: 8px;
  transition: fill 0.15s;
  width: 54px;
}
