.container {
  align-items: center;
  color: var(--color-onBackground);
  display: grid;
  gap: 16px 20px;
  grid-template-columns: max-content 1fr;
}

.label {
  color: var(--color-onBackgroundFaded);
}

.value {
  padding-left: 5px;
}
