.container {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--color-onBackgroundFaded);
  fill: var(--color-onBackgroundFaded);
  cursor: pointer;
  outline: none;
  padding: 6px;
  transition: color 0.15s, background-color 0.15s;

  &:hover,
  &:focus,
  &:hover &:focus {
    color: var(--color-primaryFocused);
  }

  &:active {
    color: var(--color-primaryPressed);
  }

  &:disabled,
  &[disabled] {
    color: var(--color-primaryFaded);
    cursor: not-allowed;
  }
}
