.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.filter {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  margin: 8px 0 8px;
}

.header {
  color: var(--color-onBackground);
}

.grid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 220px);
}

.raagas {
  flex-grow: 0;
  overflow-y: auto;
}

.scale {
  font-size: 0.8rem;
  margin-top: 8px;
  opacity: 0.7;

  & ~ & {
    margin-top: 4px;
  }
}

.scaleNameContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionHeader {
  background-color: var(--color-elevation-3);
  color: var(--color-primary);
  display: block;
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.selectIcon {
  fill: var(--color-primary);
  height: 16px;
  margin-left: 8px;
  width: 16px;
}

.selectRaaga {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: var(--color-onBackground);
  cursor: pointer;
  outline: none;
  padding: 8px;
  text-align: left;
  transition: background-color 0.15s, border-color 0.15s;

  &:hover,
  &:focus {
    background-color: var(--color-field);
  }

  &.selected {
    border-color: var(--color-primary);
  }
}

.switchRow {
  align-items: center;
  color: var(--color-onBackgroundFaded);
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.switch {
  margin-left: 8px;
}
