.addCoverArt {
  height: 280px;
}

.addTitle {
  height: 74px;
  margin-bottom: 32px;
}

.addTitleCaption {
  color: var(--color-secondary);
  margin-bottom: 12px;
  white-space: nowrap;
}

.container {
  padding: 24px;
}
