.input {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: var(--color-onBackground);
  outline: none;
  transition: background-color 0.15s;

  &:hover,
  &:focus {
    background-color: var(--color-field);
  }

  &:empty:before{
    color: var(--color-field);
    content: attr(placeholder);
    display: block; /* For Firefox */
    pointer-events: none;
  }
}
