$size: 60px;

.container {
  background-color: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: $size;
  min-width: $size;
  outline: none;
  padding: 0;

  &.hovered {
    .content {
      background-color: var(--color-field);
    }

    .emptyBlockIcon {
      fill: var(--color-secondary);
    }
  }

  &.withCursor {
    border-bottom-color: var(--color-secondary);
  }
}

.content {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transition: background-color 0.15s;
  width: 100%;
}

.emptyBlockIcon {
  fill: var(--color-secondaryDisabled);
  height: 0.8 * $size;
  transition: fill 0.15s;
  width: 0.8 * $size;
}
