.anga {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.divider {
  border-left: 3px solid var(--color-secondaryDisabled);
  height: 50px;

  & ~ & {
    margin-left: 3px;
  }
}

.title {
  box-sizing: border-box;
  color: var(--color-onBackground);
  font-size: 0.875rem;
  font-variant: small-caps;
  height: calc(0.875rem + 16px);
  letter-spacing: 0.25px;
  overflow: visible;
  padding: 8px;
  white-space: nowrap;
  width: calc(100% - 9px);
}
