$size: 60px;

.container {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: block;
  height: $size;
  min-width: $size;
  outline: none;
  padding: 0;
  position: relative;

  &.hovered {
    .content {
      background-color: var(--color-field);
    }

    .emptyBlockIcon {
      fill: var(--color-secondary);
    }
  }
}

.content {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transition: background-color 0.15s;
  width: 100%;
}

.cursor {
  background-color: var(--color-primary);
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
}

.emptyBlockIcon {
  fill: var(--color-secondaryDisabled);
  height: 0.8 * $size;
  transition: fill 0.15s;
  width: 0.8 * $size;
}

.over1 {
  background-color: var(--color-onBackground);
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.over2 {
  background-color: var(--color-onBackground);
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: -4px;
}

.over3 {
  background-color: var(--color-onBackground);
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: -6px;
}
