.container {
  align-items: center;
  display: grid;
  gap: 4px 20px;
  grid-template-columns: max-content 1fr;
}

.label {
  color: var(--color-onBackground);
  height: 36px;
  line-height: 36px;
}

.scale {
  color: var(--color-primary);
  padding: 0 2px;
}
