.anga {
  align-items: center;
  border-right: 3px solid var(--color-secondaryDisabled);
  display: flex;
  flex-direction: row;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 100%;
}

.divider {
  align-self: stretch;
  border-left: 3px solid var(--color-secondaryDisabled);
  margin-left: 3px;
  padding-right: 2px;
}
