.anga {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.divider {
  border-left: 3px solid var(--color-secondaryDisabled);
  height: 60px;

  & ~ & {
    margin-left: 3px;
  }
}
