.container {
  position: relative;
}

.above,
.below {
  font-size: 0.5em;
  font-weight: 700;
  left: 50%;
  position: absolute;
  text-align: center;
  width: 2em;
}

.above {
  bottom: 100%;
  transform: translateX(-50%) translateY(.3em);
}

.below {
  top: 100%;
  transform: translateX(-50%) translateY(-.3em);
}

.semitone {
  font-size: 0.5em;
  vertical-align: sub;
}
