.container {
  position: relative;
}

.above,
.below {
  font-size: 0.5em;
  font-weight: 700;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.above {
  bottom: 100%;
  transform: translateY(.3em);
}

.below {
  top: 100%;
}

.semitone {
  font-size: 0.5em;
  vertical-align: sub;
}
