.container {
  align-items: center;
  bottom: 0;
  color: var(--color-onBackgroundFaded);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
