.input {
  box-sizing: border-box;
  font-family: var(--font-title);
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  padding: 8px 12px;
  text-align: center;
  white-space: pre-wrap;
  width: 100%;
}
