.blocks {
  margin-top: 40px;

  &.twoPer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &.threePer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.fourPer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.blocksWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-color: var(--color-elevation-3);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 40px 80px;
  max-width: 1040px;
}

.row {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 30px;
}
