.blocks {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;

  &.rowSize3 {
    max-width: 790px;
  }

  &.rowSize5 {
    max-width: 770px;
  }

  &.rowSize18 {
    max-width: 700px;
  }
}

.blocksWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-color: var(--color-elevation-3);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 40px 80px;
  max-width: 1040px;
}

.title {
  margin-bottom: 30px;
}
