$controlsHeight: 60px;

.container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.controls {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  height: $controlsHeight;
  justify-content: center;
  left: 0;
  padding: 0 40px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .controls {
    backdrop-filter: blur(20px);
  }
}

@media (prefers-color-scheme: dark) {
  .controls {
    background-color: var(--color-elevation-3);
  }

  @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    .controls {
      background-color: rgba(var(--color-canvasRGB), 0.7);
    }
  }
}

.editor {
  box-shadow: var(--shadow-elevation-3);
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 170px;
  width: 100%;
}

.editorWrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  padding: $controlsHeight + 40px 40px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.keyboard {
  bottom: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.saveComposition {
  bottom: 8px;
  position: fixed;
  right: 8px;
  z-index: 1;
}

.shadowBox {
  bottom: 0;
  box-shadow: inset var(--shadow-elevation-3);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: $controlsHeight;
  z-index: 1;
}
