.button {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.container {
  display: grid;
  gap: 8px;
  grid-template-columns: max-content max-content;
}

.icon {
  fill: var(--color-onBackgroundFaded);
  height: 1rem;
}
