.anga {
  border-right: 1px solid var(--color-secondary);
}

.container {
  align-items: center;
  border-right: 1px solid var(--color-secondary);
  display: flex;
  flex-direction: row;
  padding-right: 2px;
}
