.container {
  background-color: var(--color-elevation-3);
  border-radius: 4px;
  border: none;
  box-shadow: var(--shadow-elevation-1);
  cursor: pointer;
  outline: none;
  padding: 20px;
  position: relative;
  transition: background-color 0.25s, box-shadow 0.25s, transform 0.25s;

  &:hover,
  &:focus {
    background-color: var(--color-elevation-4);
    box-shadow: var(--shadow-elevation-3);
  }

  &:hover {
    transform: scale(1.01);

    .deleteIcon {
      fill: var(--color-onBackgroundFaded);
      pointer-events: all;

      &:hover {
        fill: var(--color-error);
      }
    }
  }

  &:active {
    background-color: var(--color-elevation-2);
    box-shadow: var(--shadow-elevation-1);
    transform: scale(0.99);
  }
}

.deleteIcon {
  fill: transparent;
  height: 20px;
  padding: 4px;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 21px;
  transition: fill 0.15s;

  &:hover {
    fill: var(--color-error);
  }
}

.info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label {
  color: var(--color-onBackgroundFaded);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.meta {
  color: var(--color-onBackground);
  display: grid;
  gap: 8px;
  grid-template-columns: max-content 1fr;
  margin-top: 20px;
  text-align: left;
}

.title {
  color: var(--color-onBackground);
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;

  &.noTitle {
    color: var(--color-onBackgroundFaded);
  }
}
