$buttonSmall: 40px;
$buttonLarge: 60px;

.container {
  background: var(--color-elevation-4);
  border-radius: 20px;
  max-width: 360px;
  width: 100%;
}

@supports (backdrop-filter: blur(10px)) {
  .container {
    backdrop-filter: var(--style-backdrop-filter);
    background: var(--style-background);
  }
}

.content {
  position: relative;
  height: 400px;
}

.contentCover {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;
}

.processingCover {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  z-index: 20;

  &.visible {
    opacity: 1;
  }
}

.tracks {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  z-index: 10;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.visuals {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;

  &.visible {
    opacity: 1;
  }
}
