.container {
  border-radius: 4px;
  color: var(--color-onBackground);
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 8px;
  text-decoration: none;
  transition: background-color 0.15s, color 0.15s;

  &:hover,
  &:focus {
    background-color: var(--color-field);
  }
}
