$controlsHeight: 200px;

.container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.controls {
  background-color: rgba(255, 255, 255, 0.7);
  height: $controlsHeight;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  .controls {
    backdrop-filter: blur(20px);
  }
}

@media (prefers-color-scheme: dark) {
  .controls {
    background-color: var(--color-elevation-3);
  }

  @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    .controls {
      background-color: rgba(var(--color-canvasRGB), 0.7);
    }
  }
}

.editor {
  box-shadow: var(--shadow-elevation-3);
  flex-shrink: 0;
}

.editorWrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-y: auto;
  padding-top: $controlsHeight + 40px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.shadowBox {
  bottom: 0;
  box-shadow: inset var(--shadow-elevation-3);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: $controlsHeight;
  z-index: 1;
}
