.button {
  height: 60px;
  width: 60px;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 8px 0;
}

.col {
  align-items: center;
  display: flex;
  flex-direction: column;

  > * {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.icon {
  height: 55%;
  width: 55%;
}

.logo {
  &:focus {
    box-shadow: var(--shadow-elevation-2);
  }

  &:hover,
  &:hover &:focus {
    box-shadow: var(--shadow-elevation-2);
  }
}

